@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*::selection {
		@apply bg-secondary text-primary;
	}

	body {
		@apply min-h-screen;
		font-family: Chango;
		background: url('bg.png');
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
		appearance: textfield;
	}
}
